[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>

<div class="section" id="vue-target" v-cloak>

  <div class="container block">
    <h1 class="title">Bizzit</h1>
    <div class="container block">
        <!-- Return user name -->
      [[if email:]]
      <!-- the user is logged in -->
        Welcome, [[=name]].
      [[else:]]
      <!-- the user is not logged in -->
        Log in to post and like.
      [[pass]]
    </div>
    [[if email:]]
    <div v-if="!post_mode">
      <button @click="set_post_status(true)" class="button is-primary">
        <i class="fa fa-plus fa-fw"></i> 
      </button>
    </div>
    [[pass]]
  </div>

  <div v-if="post_mode" class="container block">
    <div class="form">

      <!-- This looks like a form, but is not.  We just need the inputs. -->
      <div class="field">
        <div class="control">
          <textarea v-model="add_content" class="textarea" placeholder="Enter new post here"></textarea>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input type="submit" @click="add_post" value="Post" class="button is-primary">
          <input type="submit" @click="set_post_status(false)" value="Cancel" class="button is-warning">
        </div>
      </div>
    </div>
  </div>


  <div class="container block">
    <table class="table is-striped is-fullwidth">
      <div v-for="r in rows.slice().reverse()" class="box">
        <div class="content is-medium">
            <p>
              {{r.content}}
            </p>
          </div>
          <div class="content is-small">
            <p>
              {{r.name}}
            </p>
          </div>

          <div style="float:right;">
            <div v-if="r.email === '[[=email]]'">
              <button @click="delete_post(r._idx)" class="button is-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>

          <div stlye="padding-bottom: 5px">
            <!-- if email you can like -->
            [[if email:]]

              <span @mouseout="set_hover(r._idx, false)" class="has-text-info">

                  <span class="icon has-text-danger" @mouseover="set_hover(r._idx, true)" @click="set_likes(r._idx, 1)">
                      <i class="fa fa-flip-horizontal" :class="{
                          'fa-heart-o': !(r.like_type === 1),
                          'fa-heart': (r.like_type === 1),
                          }">
                      </i>
                  </span>

              </span>
            <!-- Cannot like -->
            [[else:]]

              <span @mouseout="set_hover(r._idx, false)" class="has-text-info">
  
                    <span class="icon has-text-danger" @mouseover="set_hover(r._idx, true)">
                      <i class="fa fa-heart-o"></i>
                    </span>
  
              </span>
            
            [[pass]]
            <!-- toggle comments -->
              <span @click="toggle_comments(r._idx)" class="icon has-text-danger">
                <i class="fa " :class="{
                  'fa-comment-o': !(r.comments_a_viewable),
                  'fa-comment': (r.comments_a_viewable),
                  }">
                </i>
              </span>

          </div>

          <span v-if="r.hover && r.number_of_likes > 0">
              <br>
              <span style="color:crimson" v-if="r.number_of_likes > 0">
                  Liked by<span v-if="r.like_type === 1"> [[=name]]<span v-if="r.number_of_likes != 1">,</span></span> 
                  <span v-for="(l, index) in r.likes">
                    <span v-if="index === r.likes.length - 1 "> 
                      {{l}}
                    </span>
                    <span v-else> 
                      {{l}}<span>, </span>
                    </span>
                  </span>
              </span>
              <br>
          </span>
          
          <span v-if="r.comments_a_viewable">

              <br>

              <div style="overflow-y: scroll; padding-top: 10px; padding-bottom: 10px; max-height: 400px; display: flex; flex-direction: column-reverse;">

                <span v-for="(c, index) in r.comments">

                    <span v-if="index == r.comments.length - 1">
                      <div style="padding-bottom: 20px;">
                        <div style="padding-top: 15px;">
                          {{c['comment_content']}}
                        </div>
                      </div> 
                    </span>

                    <span v-else>
                      <div style="padding-bottom: 20px; border-top-style: solid; border-width: .5px; border-color: lightgray;">
                        <div style="padding-top: 15px;">
                          {{c['comment_content']}}
                        </div>
                      </div> 
                    </span>

                    [[if email:]]

                    <div style="float:right;">
                      <div v-if="c['email'] === '[[=email]]'">
                        <button @click="" class="button is-danger">
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                    </div>

                    [[pass]]


                    
                </span>

              </div>  

              [[if email:]]
                <div style="padding-top: 20px; display: flex;">
                  <div style="flex: 20; padding-right: 10px">
                  <input v-model="r.comment" class="input" type="text" placeholder="Type here to enter comment">
                  </div>
                  <div style="flex: 1;">
                    <input type="submit" @click="add_comment(r._idx)" value="Post" class="button is-primary">
                  </div>
                </div>
              [[pass]]

              <br>

          </span>

        <div style="height: 15px"></div>

      </div>
    </table>
  </div>

</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let add_post_url = "[[=XML(add_post_url)]]";
  let delete_post_url = "[[=XML(delete_post_url)]]";
  let load_posts_url = "[[=XML(load_posts_url)]]";
  let user_name = "[[=name]]";
  let set_likes_url = "[[=XML(set_likes_url)]]";
  let get_likes_url = "[[=XML(get_likes_url)]]";
  let add_comment_url = "[[=XML(add_comment_url)]]";
  let get_likes_stream_url = "[[=XML(get_likes_stream_url)]]";
  let get_comments_stream_url = "[[=XML(get_comments_stream_url)]]"
</script>
<script src="js/index.js"></script>
[[end]]

