[[extend 'layout.html']]

<style>
  [v-cloak] {
       display: none;
  }

  #map{
    height:400px;
    width:100%;
  }
  </style>

<div class="section">

  <h2 class="title is-3">Map</h2>
  <div class="container">
   <!--
    <iframe
      width="600"
      height="450"
      style="border:0"
      loading="lazy"
      allowfullscreen
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCfaQVuR2MyDiXTVRObaMRNkpi4gVLRR68&q=Space+Needle,Seattle+WA">
    </iframe>
  -->
    <div id="map"></div>
  </div>
  <a class="button is-success" href="[[=URL('index')]]">
    <span><i class="fa fa-backward"> </i> Back</span>
  </a>
</div>

[[block page_scripts]]

<script type="text/javascript">
    //var rows = "[[=rows[0].get('location') ]]"
    // var rows = "[[=rows]]"
    // var length = "[[=len(rows)]]"
  
    var loc = "[[=locations ]]"
    var locations_arr = loc.split("!");

    var geocoder;
    var map;
    //var address = locations_arr[0];
    var address;
    /*for(var i = 0; i < locations_arr.length; i++){
      var address = locations_arr[i];
    }*/
      
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: {lat: -34.397, lng: 150.644}
        });

        geocoder = new google.maps.Geocoder();
         for(var i = 0; i < locations_arr.length; i++){
          address = locations_arr[i];
    
        codeAddress(geocoder, map);
         }
      }

      function codeAddress(geocoder, map) {
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
            });
          } else {
            //alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfaQVuR2MyDiXTVRObaMRNkpi4gVLRR68&callback=initMap&libraries=&v=weekly" async></script>
[[end]]

