[[extend 'layout.html']]

<style>
  [v-cloak] {
       display: none;
  }

  #map{
    height:400px;
    width:100%;
  }
  </style>

<div class="section" style=background-color:rgb(164,215,236);>
  <div class="container has-text-centered">
    <h2 class="title is-3">Map</h2>
  </div>
  <div class="section">
    <div id="map"></div>
  </div>

  <div class ="section">

    <!-- <div class="box" style="background-color:rgb(235, 242, 247);"> -->
  
      <div class="title"> Small Business Addresses: </div>
  
      [[for row in googlemaps:]]
        
  
            <div class="box">
        
              <div class ="section">
                <a href="[[='https://www.google.com/maps/place/'+row]]">Open Google Maps to: [[=row]]</a>
              </div>
                  
            </div>
      
        
      
    [[pass]]
    
    <!-- </div> -->
  
  
  </div>
  
</div>



[[block page_scripts]]

<script type="text/javascript">  
    var loc = "[[=locations ]]"
    var locations_arr = loc.split("!");

    var geocoder;
    var map;
    var address;  
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: {lat: -34.397, lng: 150.644}
      });

      geocoder = new google.maps.Geocoder();
      for(var i = 0; i < locations_arr.length; i++){
        address = locations_arr[i];
        codeAddress(geocoder, map);
        }
      }

    function codeAddress(geocoder, map) {
      geocoder.geocode({'address': address}, function(results, status) {
        if (status === 'OK') {
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
            });
        } else {
            //alert('Geocode was not successful for the following reason: ' + status);
        }
      });
    }
    
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfaQVuR2MyDiXTVRObaMRNkpi4gVLRR68&callback=initMap&libraries=&v=weekly" async></script>
[[end]]

