[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>

<div class="section" id="vue-target" v-cloak>

  <div class="container block">
    <h1 class="title">Bizzit</h1>
    <div class="container block">
        <!-- Return user name -->
      [[if email:]]
      <!-- the user is logged in -->
        Welcome, [[=name]].
      [[else:]]
      <!-- the user is not logged in -->
        Log in to post.
      [[pass]]
    </div>
    [[if email:]]
    <div v-if="!post_mode">
      <button @click="set_post_status(true)" class="button is-primary">
        <i class="fa fa-plus fa-fw"></i> 
      </button>
    </div>
    [[pass]]
  </div>

  <div v-if="post_mode" class="container block">
    <div class="form">

      <!-- This looks like a form, but is not.  We just need the inputs. -->
      <div class="field">
        <div class="control">
          <textarea v-model="add_content" class="textarea" placeholder="Enter new post here"></textarea>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input type="submit" @click="add_post" value="Post" class="button is-primary">
          <input type="submit" @click="set_post_status(false)" value="Cancel" class="button is-warning">
        </div>
      </div>
    </div>
  </div>


  <div class="container block">
    <table class="table is-striped is-fullwidth">
      <div v-for="r in rows.slice().reverse()" class="box">
        <div class="content is-medium">
            <p>
              {{r.content}}
            </p>
          </div>
          <div class="content is-small">
            <p>
              {{r.name}}
            </p>
          </div>

          <div style="float:right;">
            <div v-if="r.email === '[[=email]]'">
              <button @click="delete_post(r._idx)" class="button is-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>

          <span @mouseout="set_hover(r._idx, false)" class="has-text-info">

            <span @mouseover="set_hover(r._idx, true)" @click="set_likes(r._idx, 1)">
                <i class="fa fa-flip-horizontal" :class="{
                    'fa-thumbs-o-up': !(r.likes === 1),
                    'fa-thumbs-up': (r.likes === 1),
                    }">
                </i>
            </span>
            <span @mouseover="set_hover(r._idx, true)" @click="set_likes(r._idx, 2)">
                <i class="fa" :class="{
                    'fa-thumbs-o-down': !(r.likes === 2),
                    'fa-thumbs-down': (r.likes === 2),
                    }">
                </i>
            </span>

            <span v-if="r.hover">
                <br>
                <span v-if="r.num_likes > 0">
                    Liked by<span v-if="r.likes === 1"> [[=name]],</span> {{ r.like_cache }}
                </span>
                <br>
                <span v-if="r.num_dislikes > 0">
                    Disliked by<span v-if="r.likes === 2"> [[=name]],</span> {{ r.dislike_cache }}
                </span>
            </span>
          </span>

        <div style="height: 15px"></div>

      </div>
    </table>
  </div>

</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let add_post_url = "[[=XML(add_post_url)]]";
  let delete_post_url = "[[=XML(delete_post_url)]]";
  let load_posts_url = "[[=XML(load_posts_url)]]";
  let user_name = "[[=name]]";
  let set_likes_url = "[[=XML(set_likes_url)]]";
  let get_likes_url = "[[=XML(get_likes_url)]]";
  let get_likes_stream_url = "[[=XML(get_likes_stream_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]
