[[extend 'layout.html']]

<style>
  [v-cloak] {
       display: none;
  }

  #map{
    height:400px;
    width:100%;
  }
  </style>

<div class="section" style=background-color:rgb(164,215,236);>
  <div class="container has-text-centered">
    <h2 class="title is-3">Map</h2>
  </div>
  <div class="section">
    <div id="map"></div>
  </div>

  <div class ="section">

    <div class="box" style="background-color:rgb(235, 242, 247);">
  
      <div class="title"> Small Business Addresses: </div>
  
       [[for row in final_dict:]]
        
            <!-- [[=final_dict.get(row)]] -->
            <!-- <div class="box"> -->
        
          <div class ="container pb-3">
            <a href="[[='https://www.google.com/maps/place/'+final_dict.get(row)]]">[[=row]]: [[=final_dict.get(row)]] </a>
          </div>
                  
            <!-- </div> -->
      
        
      
    [[pass]]
    
    </div>
  
  
  </div>
  
</div>



[[block page_scripts]]

<script type="text/javascript">  
    var loc = "[[=locations ]]"
    var bus = "[[=business_names ]]"

    var locations_arr = loc.split("!");
    var businesses_arr = bus.split("!");

    var geocoder;
    var map;
    var address;
    //var message;

    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: {lat: -34.397, lng: 150.644}
      });

      geocoder = new google.maps.Geocoder();
      for(var i = 0; i < locations_arr.length; i++){
        address = locations_arr[i];
        //message = businesses_arr[i] + "\n" + address;
        message = '<h3>' + businesses_arr[i] + '</h3>' + '<h3>' + address + '</h3>';
        codeAddress(geocoder, map, message);
        }
      }
      

    function codeAddress(geocoder, map, message) {
      geocoder.geocode({'address': address}, function(results, status) {
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location,
              icon: {url:"https://i.ibb.co/7px3cS6/Bizzit-Logo.png", scaledSize: new google.maps.Size(50, 50)}
            });
          var infowindow = new google.maps.InfoWindow({
            content: message
          });
          marker.addListener('click', function(){
            infowindow.open(map, marker);
          });

        /*marker.addListener('click', function() {
        infowindow.open(map, marker);
      });*/
        

      });

      
    }
    
    
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfaQVuR2MyDiXTVRObaMRNkpi4gVLRR68&callback=initMap&libraries=&v=weekly" async></script>
[[end]]

